[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"
black = "*"
pylint = "*"
pytest = "*"
pytest-dependency = "*"
requests = "*"

[packages]
fastapi = "*"
uvicorn = "*"
mangum = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true